body {
    align-self: auto;
    width: 25%;
    text-align: center;
    border: 2px solid black;
}
#container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
 #container2 {
     display: flex;
     flex-direction: column;
 }
 button {
        background-color: rgb(223, 249, 250);
        padding:5px 20px;
 }